# Configuration file

##########################################################################################################
# buttons
#--------------------------------------------------------------------------------------------------------#
# Everything to do with the buttons.
##########################################################################################################

buttons {
    # Add a second button that has a link attached to it. Clicking the button will open the link in the user's default browser.
    B:addLinkButton=true

    # Text to display on the button
    S:continueButtonText=Continue to Game

    # Link to open when button is clicked.
    S:linkButtonLink=http://beyondrealitypack.com    # Text to display on the button.

    # Text to display on the button.
    S:linkButtonText=BeyondReality Homepage

    information {
        S:guiTitle= Beyond Reality Divergence
        S:line1= This pack has major changes to some included mods. 
        S:line2= Mods are locked until you research them
        S:line3= Test
        S:line4= Test
        S:line5= Test
        S:line6= Test
        S:line7= Test
        S:line8= Test
        S:line9=None of Reika's mods where altered or hurt during the production of this modpack!
    }

    internal {
        B:disableGuiAfterFirstLaunch=false
        B:displayGuiOnLaunch=false
        S:modToFind=launchgui
    }

    update {
        S:currentPackVersion=1.5
        B:disableContinueIfUpdatable=false
        B:enableUpdateChecker=false
        S:updateCheckerURL=https://raw.githubusercontent.com/TehNut/LaunchGui/1.7.10/version.txt
    }

}


##########################################################################################################
# information
#--------------------------------------------------------------------------------------------------------#
# These are the options for what your GUI says. Change them as you please, but try to keep them short. It won't split lines for you. Leave blank if unused.
##########################################################################################################

information {
    # Title of your GUI. Appears at the top.
    S:guiTitle=TITLE

    # These are your information info in the GUI
        S:line1= This pack has major changes to some included mods. 
        S:line2= Mods are locked until you research them
        S:line3= Test
        S:line4= Test
        S:line5= Test
        S:line6= Test
        S:line7= Test
        S:line8= Test
        S:line9=None of Reika's mods where altered or hurt during the production of this modpack!
}


##########################################################################################################
# internal
#--------------------------------------------------------------------------------------------------------#
# Internally used options.
##########################################################################################################

internal {
    # Whether or not to disable the GUI from showing again after the player presses continue.
    B:disableGuiAfterFirstLaunch=true

    # Whether or not to display the GUI on launch. Should not be touched.
    B:displayGuiOnLaunch=false

    # Requires this mod to load the GUI. To always load no matter what, use a mod that is always installed.
    S:modToFind=launchgui
}


##########################################################################################################
# update
#--------------------------------------------------------------------------------------------------------#
# Information on pack updates.
##########################################################################################################

update {
    # Pack version that the end user is going to be downloading.
    S:currentPackVersion=1.5

    # Disables ability to continue to game if an update is available.
    B:disableContinueIfUpdatable=false

    # Enables checking for updates based on a hosted text file.
    B:enableUpdateChecker=true

    # URL to check for an update with.
    S:updateCheckerURL=https://raw.githubusercontent.com/TehNut/LaunchGui/1.7.10/version.txt
}


