# Configuration file

"biome ids" {
    I:"Ender Forest Biome ID"=46
    I:"Rainbow Forest Biome ID"=49
}


"client specific" {
    B:"[BBB424C0D] Biome FX"=true
    B:"[C22C0DDBF] Connected Crystalline Stone Textures"=false
    B:"[D2C2828EE] Disable Pendant Particles"=true
    B:"[DC052C3B5] Dye Block Particles"=true
    B:"[E4F0BC3B5] Ender Forest Coloring"=false
    I:"[EA2A83872] Energy Buffer Overlay Location"=0
    B:"[L79C7A09E] Lamp Noises"=true
    I:"[P9396031B] Progression Notification Duration"=800
    B:"[P9C8A3DE4] Play Dimension Join Sound For Others"=true
    B:"[R846CEAC9] Reload Handbook Data on Open"=false
    B:"[U51B93614] Use vanilla keybind system for ability selection GUI"=false
}


"control setup" {
    B:"Adjacency Upgrades Require Energy"=false
    B:"Allow Danger in Rainbow Forests"=true
    B:"Allow duplication wand to copy TileEntities"=false
    B:"Always Respawn EnderDragon"=false
    B:"Auxiliary Fragment Acquisition"=false
    I:"Cave Lighter Range"=128
    I:"Cave Lighter Zone Size"=8
    I:"Chest Generation Tier"=4
    B:"Crystal Plants May Drop Shards"=true
    B:"Delete End on Unload"=false
    I:"Dimension Structure Difficulty"=3
    I:"Duplication Wand Max Volume"=1000
    B:"Enable Ball Lightning"=true
    B:"Enable Biome Painter"=false
    B:"Enable Ender TNT"=false
    I:"Ender Forest Biome Weight"=1
    I:"Ender Pool Density from 1 to 3"=1
    B:"Generate Anti-Taint plants in Rainbow Forest"=false
    B:"Generate Pylons in Non-Overworld"=false
    B:"Generate Some Pylons as Broken"=true
    I:"Guardian Stone Range"=16
    B:"Guardian Stone is Full Chunk Height"=false
    B:"Liquid Ender Effect"=true
    I:"Lumen Relay Range"=16
    B:"Make Pylon pathfinding attempt shortest path - can be intensive"=true
    B:"Make ThaumCraft integration require ThaumCraft progression"=false
    I:"Max Accelerator Lag in NanoSeconds"=1000000
    B:"Nether Crystals"=true
    B:"Notify players of progress gains"=true
    B:"Notify players via chat of their own progress gains"=false
    B:"Pylons Chunkload Selves Once Used"=true
    I:"Rainbow Forest Animal Density"=1
    I:"Rainbow Forest Biome Weight"=1
    D:"Rainbow Leaf Gold Apple Drop Percentage"=0.01
    B:"Rainbow Trees Spread Rainbow Forests"=false
    B:Retrogeneration=false
    B:"Run Worldgen in Superflat Worlds"=false
    B:"Spawn with CC Lexicon"=false
    I:"Vanilla Dye Drop Percentage"=1
    B:"World Rifts Chunkload"=false
    B:"World Shift Can Move TileEntities"=false
}


"dimension biome ids" {
    S:"Aura Ocean Biome ID"=106
    S:"Central Biome ID"=109
    S:"Crystal Forest Biome ID"=104
    S:"Crystal Mountains Biome ID"=105
    S:"Crystal Plains Biome ID"=102
    S:"Glowing Forest Biome ID"=103
    S:"Island Biome ID"=101
    S:"Skyland Biome ID"=100
    S:"Structure Biome ID"=107
    S:"Voidland Biome ID"=108
}


"enchantment ids" {
    I:"Aggro Mask ID"=92
    I:"Ender Lock ID"=91
    I:"Use Repair ID"=93
    I:"Weapon AOE ID"=90
}


"generate mod logs" {
    B:Alder=true
    B:Amaranth=true
    B:Ash=true
    B:Bamboo=true
    B:"Biomes O Plenty Mangrove"=true
    B:"Biomes O Plenty Willow"=true
    B:Bloodwood=true
    B:Canopy=true
    B:Cherry=true
    B:Dark=true
    B:Darkwood=true
    B:Eucalyptus=true
    B:"ExtraBiomes XL Redwood"=true
    B:Fir=true
    B:Force=true
    B:Fusewood=true
    B:Ghostwood=true
    B:Glow=true
    B:Greatwood=true
    B:Hawthorne=true
    B:Hellbark=true
    B:Highacacia=true
    B:Highcanopy=true
    B:Highfir=true
    B:Highmangrove=true
    B:Highpalm=true
    B:Highredwood=true
    B:Hopseed=true
    B:"IndustrialCraft Rubber"=true
    B:Ironwood=true
    B:Jacaranda=true
    B:Lighted=true
    B:Loftwood=true
    B:Magic=true
    B:Mahogany=true
    B:Mangrove=true
    B:Maple=true
    B:"MineFactory Reloaded Rubber"=true
    B:Minewood=true
    B:"Natura Darkwood"=true
    B:Palm=true
    B:Pine=true
    B:Poplar=true
    B:Redwood=true
    B:Rowan=true
    B:Sacred=true
    B:Sakura=true
    B:Sequoia=true
    B:Silverbell=true
    B:Silverwood=true
    B:Slime=true
    B:Sorting=true
    B:Tigerwood=true
    B:Timewood=true
    B:Transformation=true
    B:Twilightoak=true
    B:Willow=true
    B:Witchwood=true
}


"generate vanilla logs" {
    B:Acacia=true
    B:Birch=true
    B:Darkoak=true
    B:Jungle=true
    B:Oak=true
    B:Spruce=true
}


"other ids" {
    I:"Dimension ID"=60
}


"other options" {
    S:"Guardian Stone Exceptions" <
        none#RIGHT_CLICK_AIR
        none#RIGHT_CLICK_BLOCK
        none#LEFT_CLICK_BLOCK
        ExtraUtilities:dark_portal:2#RIGHT_CLICK_BLOCK
     >
}


"potion ids" {
    I:"Growth Hormone ID"=36
    S:"Lumarhea ID"=40
    I:"Regen ID"=39
    I:"Saturation ID"=38
}


