# Configuration file

"entity blacklist" {
    B:AS_Minions.AS_EntityMinion=false
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.MinorDemonGrunt=false
    B:AWWayofTime.MinorDemonGruntEarth=false
    B:AWWayofTime.MinorDemonGruntFire=false
    B:AWWayofTime.MinorDemonGruntGuardian=false
    B:AWWayofTime.MinorDemonGruntGuardianEarth=false
    B:AWWayofTime.MinorDemonGruntGuardianFire=false
    B:AWWayofTime.MinorDemonGruntGuardianIce=false
    B:AWWayofTime.MinorDemonGruntGuardianWind=false
    B:AWWayofTime.MinorDemonGruntIce=false
    B:AWWayofTime.MinorDemonGruntWind=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:AgriCraft.villagerFarmer=false
    B:Automagy.WispNether=false
    B:Basalz=false
    B:Bat=false
    B:Blaze=false
    B:Blitz=false
    B:Blizz=false
    B:"Botania.botania:pixie"=false
    B:"BuildCraft|Robotics.bcRobot"=false
    B:CaveSpider=false
    B:Chicken=false
    B:"ChromatiCraft.Ball Lightning"=false
    B:Cow=false
    B:Creeper=false
    B:Enderman=false
    B:EntityHorse=false
    B:Forestry.butterflyGE=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:HarderWildlife.Goat=false
    B:HarderWildlife.Lizard=false
    B:LavaSlime=false
    B:Mob=false
    B:Monster=false
    B:MushroomCow=false
    B:MutantCreatures.CreeperMinion=false
    B:MutantCreatures.EndermanClone=false
    B:MutantCreatures.MutantCreeper=false
    B:MutantCreatures.MutantEnderman=false
    B:MutantCreatures.MutantSkeleton=false
    B:MutantCreatures.MutantSnowGolem=false
    B:MutantCreatures.MutantZombie=false
    B:MutantCreatures.SpiderPig=false
    B:MutantCreatures.ZombieMinion=false
    B:Ozelot=false
    B:Pig=false
    B:PigZombie=false
    B:PneumaticCraft.Drone=false
    B:PneumaticCraft.logisticDrone=false
    B:Sanguimancy.EntityChickenMinion=false
    B:Sanguimancy.EntityPlayerPointer=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:SnowMan=false
    B:Spider=false
    B:Squid=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:Thaumcraft.BrainyZombie=false
    B:Thaumcraft.CultistCleric=false
    B:Thaumcraft.CultistKnight=false
    B:Thaumcraft.EldritchCrab=false
    B:Thaumcraft.EldritchGuardian=false
    B:Thaumcraft.Firebat=false
    B:Thaumcraft.GiantBrainyZombie=false
    B:Thaumcraft.Golem=false
    B:Thaumcraft.InhabitedZombie=false
    B:Thaumcraft.MindSpider=false
    B:Thaumcraft.Pech=false
    B:Thaumcraft.TaintSpider=false
    B:Thaumcraft.TaintSpore=false
    B:Thaumcraft.TaintSwarm=false
    B:Thaumcraft.TaintSwarmer=false
    B:Thaumcraft.Taintacle=false
    B:Thaumcraft.TaintacleTiny=false
    B:Thaumcraft.TaintedChicken=false
    B:Thaumcraft.TaintedCow=false
    B:Thaumcraft.TaintedCreeper=false
    B:Thaumcraft.TaintedPig=false
    B:Thaumcraft.TaintedSheep=false
    B:Thaumcraft.TaintedVillager=false
    B:Thaumcraft.ThaumSlime=false
    B:Thaumcraft.TravelingTrunk=false
    B:Thaumcraft.Wisp=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:"Wither Skeleton"=false
    B:Wolf=false
    B:Zombie=false
    B:chisel.snowman=false
    B:computronics.swarm=false
    B:failed_chicken=false
    B:failed_cow=false
    B:failed_pig=false
    B:failed_sheep=false
    B:hardcorewither.BlazeMinion=false
    B:hardcorewither.GhastMinion=false
    B:hardcorewither.SkeletonMinion=false
    B:jaff.FishClown=false
    B:jaff.FishCod=false
    B:jaff.FishPuffer=false
    B:jaff.FishSalmon=false
    B:lootablebodies_EntityLootableBody=false
    B:mad_scientist=false
    B:menagerie.ant=false
    B:menagerie.ghost=false
    B:menagerie.infestedVillager=false
    B:menagerie.lepus=false
    B:menagerie.livingarmor=false
    B:menagerie.manticore=false
    B:menagerie.mummy=false
    B:menagerie.oliphant=false
    B:menagerie.rat=false
    B:mutant_scientist=false
    B:ranged_rogue_android=false
    B:rogue_android=false
    B:witchery.attackbat=false
    B:witchery.banshee=false
    B:witchery.cat=false
    B:witchery.corpse=false
    B:witchery.covenwitch=false
    B:witchery.darkmark=false
    B:witchery.deathhorse=false
    B:witchery.demon=false
    B:witchery.ent=false
    B:witchery.eye=false
    B:witchery.familiar=false
    B:witchery.follower=false
    B:witchery.goblin=false
    B:witchery.hellhound=false
    B:witchery.illusionCreeper=false
    B:witchery.illusionSpider=false
    B:witchery.illusionZombie=false
    B:witchery.imp=false
    B:witchery.lostsoul=false
    B:witchery.louse=false
    B:witchery.mandrake=false
    B:witchery.mindrake=false
    B:witchery.mirrorface=false
    B:witchery.nightmare=false
    B:witchery.owl=false
    B:witchery.poltergeist=false
    B:witchery.spectre=false
    B:witchery.spirit=false
    B:witchery.toad=false
    B:witchery.treefyd=false
    B:witchery.vampire=false
    B:witchery.villageguard=false
    B:witchery.werevillager=false
    B:witchery.wingedmonkey=false
    B:witchery.witchhunter=false
    B:witchery.wolfman=false
    B:yegamolchattels.fakePlayer=false
    B:ygcGhost=false
}


