# Configuration file

appliedenergistics2 {

    item_toolnetherquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetherquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetworktool {
        I:wrench=0
    }

    bluepower {

        amethyst_shovel {
            I:shovel=3
        }

        sapphire_pickaxe {
            I:pickaxe=3
        }

        sapphire_shovel {
            I:shovel=3
        }

        ruby_shovel {
            I:shovel=3
        }

        amethyst_pickaxe {
            I:pickaxe=3
        }

        ruby_axe {
            I:axe=3
        }

        amethyst_axe {
            I:axe=3
        }

        ruby_pickaxe {
            I:pickaxe=3
        }

        sapphire_axe {
            I:axe=3
        }

    }

    "buildcraft|core" {

        wrenchitem {
            I:wrench=0
        }

    }

    cogs {

        poundinghammer {
            I:pickaxe=3
        }

        crank {
            I:crank=0
        }

        portablesaw {
            I:axe=5
        }

        clockworkpick {
            I:pickaxe=3
            I:shovel=3
        }

        clockworkcane {
            I:crank=0
        }

    }

    forbiddenmagic {

        morphshovel {
            I:shovel=6
        }

        taintpickaxe {
            I:pickaxe=7
        }

        taintshovel {
            I:shovel=5
        }

        morphpickaxe {
            I:pickaxe=6
        }

        morphaxe {
            I:axe=6
        }

    }

    forestry {

        bronzepickaxe {
            I:pickaxe=2
        }

        scoop {
            I:scoop=5
        }

        bronzeshovel {
            I:shovel=2
        }

        wrench {
            I:wrench=0
        }

    }

    gendustry {

        industrialscoop {
            I:scoop=3
        }

    }

    minechem {

        minechempolytool {
            I:pickaxe=2
        }

    }

    minecraft {

        wooden_shovel {
            I:shovel=0
        }

        wooden_axe {
            I:axe=0
        }

        golden_axe {
            I:axe=0
        }

        wooden_pickaxe {
            I:pickaxe=0
        }

        diamond_shovel {
            I:shovel=5
        }

        diamond_pickaxe {
            I:pickaxe=5
        }

        stone_axe {
            I:axe=0
        }

        golden_pickaxe {
            I:pickaxe=0
        }

        iron_pickaxe {
            I:pickaxe=3
        }

        stone_shovel {
            I:shovel=0
        }

        iron_shovel {
            I:shovel=3
        }

        iron_axe {
            I:axe=3
        }

        golden_shovel {
            I:shovel=0
        }

        stone_pickaxe {
            I:pickaxe=0
        }

        diamond_axe {
            I:axe=5
        }

    }

    railcraft {

        tool_crowbar_magic {
            I:crowbar=0
        }

        tool_steel_shovel {
            I:shovel=3
        }

        tool_steel_pickaxe {
            I:pickaxe=3
        }

        tool_crowbar {
            I:crowbar=0
        }

        tool_crowbar_reinforced {
            I:crowbar=0
        }

        tool_steel_axe {
            I:axe=3
        }

    }

    redstonearsenal {

        tool_axeflux {
            I:axe=6
        }

        tool_pickaxeflux {
            I:pickaxe=6
        }

        tool_shovelflux {
            I:shovel=6
        }

    }

    rotarycraft {

        rotarycraft_item_bedpick {
            I:pickaxe=5
        }

        rotarycraft_item_steelshovel {
            I:shovel=3
        }

        rotarycraft_item_bedaxe {
            I:axe=0
        }

        rotarycraft_item_steelaxe {
            I:axe=3
        }

        rotarycraft_item_steelpick {
            I:pickaxe=3
        }

        rotarycraft_item_bedshovel {
            I:shovel=0
        }

    }

    tconstruct {

        shovel {
            I:shovel=-1
        }

        battleaxe {
            I:axe=-1
        }

        hammer {
            I:pickaxe=-1
        }

        pickaxe {
            I:pickaxe=-1
        }

        lumberaxe {
            I:axe=-1
        }

        hatchet {
            I:axe=-1
        }

        excavator {
            I:shovel=-1
        }

        mattock {
            I:axe=-1
        }

    }

    thaumcraft {

        itemshovelthaumium {
            I:shovel=3
        }

        itempickthaumium {
            I:pickaxe=3
        }

        itempickvoid {
            I:pickaxe=3
        }

        itemshovelvoid {
            I:shovel=3
        }

        itemaxethaumium {
            I:axe=5
        }

        itemshovelelemental {
            I:shovel=3
        }

        itemaxevoid {
            I:axe=3
        }

        itempickaxeelemental {
            I:pickaxe=3
        }

        itemaxeelemental {
            I:axe=5
        }

        itemprimalcrusher {
            I:pickaxe=-1
            I:shovel=-1
        }

    }

    thermalexpansion {

        wrench {
            I:wrench=0
        }

        tool_axeinvar {
            I:axe=3
        }

        tool_pickaxeinvar {
            I:pickaxe=3
        }

        tool_shovelinvar {
            I:shovel=3
        }

        tool_sickleinvar {
            I:sickle=3
        }

    }

    thermalfoundation {

        tool_sicklecopper {
            I:sickle=0
        }

        tool_shovelnickel {
            I:shovel=3
        }

        tool_shovellead {
            I:shovel=0
        }

        tool_shovelinvar {
            I:shovel=3
        }

        tool_axesilver {
            I:axe=3
        }

        tool_pickaxeplatinum {
            I:pickaxe=6
        }

        tool_axenickel {
            I:axe=3
        }

        tool_shovelbronze {
            I:shovel=3
        }

        tool_axelead {
            I:axe=0
        }

        tool_sickleinvar {
            I:sickle=3
        }

        tool_shovelelectrum {
            I:shovel=0
        }

        tool_axeelectrum {
            I:axe=0
        }

        tool_pickaxeinvar {
            I:pickaxe=3
        }

        tool_sickleelectrum {
            I:sickle=0
        }

        tool_axecopper {
            I:axe=0
        }

        tool_sicklebronze {
            I:sickle=3
        }

        tool_shoveltin {
            I:shovel=0
        }

        tool_pickaxecopper {
            I:pickaxe=0
        }

        tool_pickaxelead {
            I:pickaxe=0
        }

        tool_sickletin {
            I:sickle=0
        }

        tool_axeinvar {
            I:axe=3
        }

        tool_pickaxesilver {
            I:pickaxe=3
        }

        tool_axetin {
            I:axe=0
        }

        tool_pickaxenickel {
            I:pickaxe=3
        }

        tool_shovelsilver {
            I:shovel=3
        }

        tool_pickaxetin {
            I:pickaxe=0
        }

        tool_pickaxeelectrum {
            I:pickaxe=0
        }

        tool_axebronze {
            I:axe=3
        }

        tool_shovelplatinum {
            I:shovel=6
        }

        tool_sicklesilver {
            I:sickle=3
        }

        tool_axeplatinum {
            I:axe=6
        }

        tool_sickleplatinum {
            I:sickle=6
        }

        tool_sicklelead {
            I:sickle=0
        }

        tool_pickaxebronze {
            I:pickaxe=3
        }

        tool_shovelcopper {
            I:shovel=0
        }

        tool_sicklenickel {
            I:sickle=3
        }

    }

}


bluepower {

    amethyst_shovel {
        I:shovel=3
    }

    sapphire_pickaxe {
        I:pickaxe=3
    }

    sapphire_shovel {
        I:shovel=3
    }

    ruby_shovel {
        I:shovel=3
    }

    amethyst_pickaxe {
        I:pickaxe=3
    }

    ruby_axe {
        I:axe=3
    }

    amethyst_axe {
        I:axe=3
    }

    ruby_pickaxe {
        I:pickaxe=3
    }

    sapphire_axe {
        I:axe=3
    }

}


"buildcraft|core" {

    wrenchitem {
        I:wrench=0
    }

}


cogs {

    poundinghammer {
        I:pickaxe=3
    }

    crank {
        I:crank=0
    }

    portablesaw {
        I:axe=5
    }

    clockworkpick {
        I:pickaxe=5
        I:shovel=5
    }

    clockworkcane {
        I:crank=0
    }

}


forbiddenmagic {

    morphshovel {
        I:shovel=6
    }

    taintpickaxe {
        I:pickaxe=7
    }

    taintshovel {
        I:shovel=5
    }

    morphpickaxe {
        I:pickaxe=6
    }

    morphaxe {
        I:axe=6
    }

}


forestry {

    bronzepickaxe {
        I:pickaxe=5
    }

    scoop {
        I:scoop=5
    }

    bronzeshovel {
        I:shovel=5
    }

    wrench {
        I:wrench=0
    }

}


gendustry {

    industrialscoop {
        I:scoop=3
    }

}


minechem {

    minechempolytool {
        I:pickaxe=3
    }

}


minecraft {

    wooden_shovel {
        I:shovel=0
    }

    wooden_axe {
        I:axe=0
    }

    golden_axe {
        I:axe=0
    }

    wooden_pickaxe {
        I:pickaxe=0
    }

    diamond_shovel {
        I:shovel=5
    }

    diamond_pickaxe {
        I:pickaxe=5
    }

    stone_axe {
        I:axe=0
    }

    golden_pickaxe {
        I:pickaxe=0
    }

    iron_pickaxe {
        I:pickaxe=3
    }

    stone_shovel {
        I:shovel=0
    }

    iron_shovel {
        I:shovel=3
    }

    iron_axe {
        I:axe=3
    }

    golden_shovel {
        I:shovel=0
    }

    stone_pickaxe {
        I:pickaxe=0
    }

    diamond_axe {
        I:axe=5
    }

}


railcraft {

    tool_crowbar_magic {
        I:crowbar=0
    }

    tool_steel_shovel {
        I:shovel=3
    }

    tool_steel_pickaxe {
        I:pickaxe=3
    }

    tool_crowbar {
        I:crowbar=0
    }

    tool_crowbar_reinforced {
        I:crowbar=0
    }

    tool_steel_axe {
        I:axe=3
    }

}


redstonearsenal {

    tool_axeflux {
        I:axe=6
    }

    tool_pickaxeflux {
        I:pickaxe=6
    }

    tool_shovelflux {
        I:shovel=6
    }

}


rotarycraft {

    rotarycraft_item_bedpick {
        I:pickaxe=2147483647
    }

    rotarycraft_item_steelshovel {
        I:shovel=3
    }

    rotarycraft_item_bedaxe {
        I:axe=0
    }

    rotarycraft_item_steelaxe {
        I:axe=3
    }

    rotarycraft_item_steelpick {
        I:pickaxe=3
    }

    rotarycraft_item_bedshovel {
        I:shovel=0
    }

}


tconstruct {

    shovel {
        I:shovel=-1
    }

    battleaxe {
        I:axe=-1
    }

    hammer {
        I:pickaxe=-1
    }

    pickaxe {
        I:pickaxe=-1
    }

    lumberaxe {
        I:axe=-1
    }

    hatchet {
        I:axe=-1
    }

    excavator {
        I:shovel=-1
    }

    mattock {
        I:axe=-1
    }

}


thaumcraft {

    itemshovelthaumium {
        I:shovel=5
    }

    itempickthaumium {
        I:pickaxe=5
    }

    itempickvoid {
        I:pickaxe=6
    }

    itemshovelvoid {
        I:shovel=6
    }

    itemaxethaumium {
        I:axe=5
    }

    itemprimalcrusher {
        I:pickaxe=-1
        I:shovel=-1
    }

    itemshovelelemental {
        I:shovel=5
    }

    itemaxevoid {
        I:axe=6
    }

    itempickaxeelemental {
        I:pickaxe=5
    }

    itemaxeelemental {
        I:axe=5
    }

}


thermalexpansion {

    wrench {
        I:wrench=0
    }

    tool_axeinvar {
        I:axe=3
    }

    tool_pickaxeinvar {
        I:pickaxe=3
    }

    tool_shovelinvar {
        I:shovel=3
    }

    tool_sickleinvar {
        I:sickle=3
    }

}


thermalfoundation {

    tool_sicklecopper {
        I:sickle=0
    }

    tool_shovelnickel {
        I:shovel=3
    }

    tool_shovellead {
        I:shovel=0
    }

    tool_shovelinvar {
        I:shovel=3
    }

    tool_axesilver {
        I:axe=3
    }

    tool_pickaxeplatinum {
        I:pickaxe=6
    }

    tool_axenickel {
        I:axe=3
    }

    tool_shovelbronze {
        I:shovel=3
    }

    tool_axelead {
        I:axe=0
    }

    tool_sickleinvar {
        I:sickle=3
    }

    tool_shovelelectrum {
        I:shovel=0
    }

    tool_axeelectrum {
        I:axe=0
    }

    tool_pickaxeinvar {
        I:pickaxe=3
    }

    tool_sickleelectrum {
        I:sickle=0
    }

    tool_axecopper {
        I:axe=0
    }

    tool_sicklebronze {
        I:sickle=3
    }

    tool_shoveltin {
        I:shovel=0
    }

    tool_pickaxecopper {
        I:pickaxe=0
    }

    tool_pickaxelead {
        I:pickaxe=0
    }

    tool_sickletin {
        I:sickle=0
    }

    tool_axeinvar {
        I:axe=3
    }

    tool_pickaxesilver {
        I:pickaxe=3
    }

    tool_axetin {
        I:axe=0
    }

    tool_pickaxenickel {
        I:pickaxe=3
    }

    tool_shovelsilver {
        I:shovel=3
    }

    tool_pickaxetin {
        I:pickaxe=0
    }

    tool_pickaxeelectrum {
        I:pickaxe=0
    }

    tool_axebronze {
        I:axe=3
    }

    tool_shovelplatinum {
        I:shovel=6
    }

    tool_sicklesilver {
        I:sickle=3
    }

    tool_axeplatinum {
        I:axe=6
    }

    tool_sickleplatinum {
        I:sickle=6
    }

    tool_sicklelead {
        I:sickle=0
    }

    tool_pickaxebronze {
        I:pickaxe=3
    }

    tool_shovelcopper {
        I:shovel=0
    }

    tool_sicklenickel {
        I:sickle=3
    }

}


